
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/chat/chat.css" rel="stylesheet" />
<div class="page">

</div>
<div class="chat">
    <div class="chat-page">
        <div class="chat-header">

        </div>
        <div class="chat-body">

        </div>
        <div class="chat-bottom">

        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat/Index.js"></script>